<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-fw fa-envelope"></i>
    <span class="d-lg-none">
      <span class="badge badge-pill badge-primary"></span>
    </span>
    <span class="indicator text-primary d-none d-lg-block">
      <i class="fa fa-fw fa-circle"></i>
    </span>
  </a>
  <div class="dropdown-menu" aria-labelledby="messagesDropdown">
    <h6 class="dropdown-header">Шинэ зурвасууд:</h6>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">
      <strong>Төхөөрөмжийн код</strong>
      <span class="small float-right text-muted">11:21 AM</span>
      <div class="dropdown-message small">Өрөөний гэрлийг унтраалаа!</div>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">
      <strong>Төхөөрөмжийн код</strong>
      <span class="small float-right text-muted">11:21 AM</span>
      <div class="dropdown-message small">Дохиоллийг асаалаа!</div>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">
      <strong>Төхөөрөмжийн код</strong>
      <span class="small float-right text-muted">00:00 AM</span>
      <div class="dropdown-message small">Байдал хэвийн</div>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item small" href="{% url "users:messages"%}">Бусад зурвасууд</a>
  </div>
</li>
